.footer {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--fontM) 0;
}

.footerContainer {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 45rem) {
    .footerContainer {
        flex-direction: column;
    }
}

.footerList {
    margin-bottom: var(--fontS);
}

.footerSubmenu {
    margin-bottom: .5rem;
    font-weight: 600;
}

.footerListItem {
    position: relative;
    max-width: max-content;
}

.footerListItem::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--white);
    bottom: 0;
    transition: var(--transition);
}

.footerListItem:hover::before {
    width: 100%;
}

.icons {
    display: flex;
}

.icons li {
    margin-right: var(--fontS);
}

.payments {
    display: flex;
}

.paymentImg {
    margin-right: var(--fontS);
}

.copy {
    font-weight: 800;
    width: 90%;
    letter-spacing: 2px;
    text-align: center;
}

@media (max-width: 45rem) {
    .copy {
        text-align: left;
    }
}