.landingPage {
    width: 100%;
    margin-top: 6rem;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccionContainerBox {
    background-color: #222;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seccionContainerBox:nth-of-type(2){
    background-color: #eeeeee;
}

.seccionContainerBox:nth-of-type(2) .paragrath,
.seccionContainerBox:nth-of-type(2) .subtitle {
    color: var(--primaryColor);
}

.banner {
    position: relative;
    width: 100%;
}

.imgContainer {
    width: 100%;
}

.img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.title {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: var(--fontS);
}

.presentation {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentationText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll {
    position: absolute;
    bottom: 12%;
    margin-top: var(--fontM);
    display: flex;
    flex-direction: column;
}

.arrow {
    animation: arrow .7s infinite ease-in-out alternate;
}

@keyframes arrow {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translateY(.8rem);
    }
}

.button {
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 1rem 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    letter-spacing: 1.15px;
    transition: var(--transition);
}

.button:hover {
    background-color: blue;
}

.phone {
    margin-right: var(--fontS);
}

.imgLlantaContainer {
    position: absolute;
    bottom: 0;
    z-index: 10;
}

@media (min-width: 45rem) {
    .imgLlantaContainer {
        display: none;
    }
}

.imgLlanta {
    width: 6.25rem;
}

/* Bottoms  */

.bottomList {
    position: fixed;
    right: 2%;
    top: 50%;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

@media (max-width: 45rem) {
    .bottomList {
        display: none;
    }
}

.bottomListItem {
    margin-bottom: var(--fontS);
    background-color: var(--primaryColor);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
    animation: vibrar 1s infinite alternate;
}   

.bottomListItem:nth-of-type(2) {
    animation-delay: 1s;
}
.bottomListItem:nth-of-type(3) {
    animation-delay: 2s;
}

@keyframes vibrar {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(25deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(25deg);
    }  
    100% {
        transform: rotate(0deg);
    }
}

.bottomListItem:hover {
    background-color: blue;
}


.sectionContainer {
    padding: 3rem 0;
}

/* About */

.about {
    position: relative;
    display: flex;
}

@media (max-width: 45rem) {
    .about {
        flex-direction: column;
    }
}

.aboutContainerImg {
    width: 50%;
    margin-right: var(--fontM);
}

@media (max-width: 45rem) {
    .aboutContainerImg {
        width: 100%;
        margin-right: 0;
        margin-bottom: var(--fontM);
    }
}

.imgAbout {
    object-position: bottom;
    height: 33rem;
}

.aboutDescription {
    width: 50%;
}

@media (max-width: 45rem) {
    .aboutDescription {
        width: 100%;
    }
}

.subtitle {
    font-size: var(--fontM);
    color: var(--white);
    margin-bottom: var(--fontS);
    text-align: left;
}

.paragrath {
    font-size: var(--fontS);
    color: var(--white);
    letter-spacing: .0938rem;
    margin-bottom: var(--fontS);
    font-weight: 400;
    text-align: justify;
}

/* Services */

.services {
    position: relative;
}

.services .paragrath:nth-child(11) {
    margin-bottom: var(--fontS);
}

.servicesDescription {
    display: flex;
    align-items: center;
    margin-bottom: var(--fontS);
}

@media (max-width: 45rem) {
    .servicesDescription {
        flex-direction: column;
    }
}

.listServices .paragrath {
    margin-bottom: 0;
}

.imgServices {
    height: 28.125rem;
    object-fit: contain;
    width: 50%;
    margin-right: var(--fontM);
}

@media (max-width: 45rem) {
    .imgServices {
        margin-right: 0;
        width: 100%;
        margin-bottom: var(--fontM);
    }
}

.emoji {
    height: 1.25rem;
    margin-right: .375rem;
}

.emojiTitle {
    height: 2.3125rem;
}
/* Contact */

.subtitleContact {
    color: white;
}

.contactContainer {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: var(--fontM);
}

@media (max-width: 45rem) {
    .contactContainer {
        flex-direction: column;
    }
}

.contactDireccions {
    width: 30%;
    margin-right: var(--fontS);
    background-color: var(--primaryColor);
    border-radius: 4px;
    padding: var(--fontS);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 45rem) {
    .contactDireccions {
        width: 100%;
        margin-right: 0;
        margin-bottom: var(--fontS);
    }
}

.contactDireccion {
    margin-bottom: var(--fontS);
    width: 100%;
}

/* Form */

.form {
    position: relative;
    width: 100%;
    padding: var(--fontX) 0;
    display: flex;
    justify-content: center;
    background-color: #222;
}

.formContact {
    width: 70%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 45rem) {
    .formContact {
        width: 100%;
    }
}

.input {
    background-color: #eeeeee;
    outline: none;
    border: none;
    color: #757575;
    padding: var(--fontS) var(--fontM);
    margin-bottom: var(--fontS);
    font-size: var(--fontS);
    letter-spacing: 1.15px;
}

.btnContact {
    background-color: var(--primaryColor);
    border: none;
    padding: var(--fontS) var(--fontM);
    cursor: pointer;
    font-size: var(--fontS);
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: var(--transition);
}

.btnContact:hover {
    background-color: blue;
}

.containerCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: var(--fontS);
}
.labelCheckbox {
    margin-left: .1875rem;
    opacity: .7;
    font-size: .75rem;

}

/* Google Maps */

.googleMaps {
    width: 100%;
    height: 25rem;
}