@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
  /* Variables */
  --primaryColor: #173EBF;
  --secondaryColor: #6788F4;
  --tertaryColor: #0E2573;
  --white: #e5e7eb;
  --black: #222;

  /* Font */
  --ff: 'Poppins', sans-serif;
  --regular: 400;
  --bold: 700;
  --black: 900;

  /* Margin */
  --fontX: 3rem;
  --fontM: 2rem;
  --fontS: 1rem; 

  /* Animation */
  --transition: .3s;

  /* Displays */
  --phone: 23rem;
  --tablet: 45rem;
  --desktop: 64rem;

}

* {
  font-family: var(--ff);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  width: 90%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
